<div
    data-schema="uischema.org/Carousel"
>
    <ul>
        {{# items }}
            <li>
                {{> Feature }}
            </li>
        {{/ items }}
    </ul>

    <nav>
        <button>〈</button>
        <button>〉</button>
    </nav>
</div>
