<div data-schema="uischema.org/Carousel" class="ui-carousel">
    <ul class="ui-carousel-track">
        {{# items }}
            <li class="ui-carousel-cell">
                {{> Feature }}
            </li>
        {{/ items }}
    </ul>

    <nav class="ui-carousel-nav">
        <button class="ui-carousel-prev">〈</button>
        <button class="ui-carousel-next">〉</button>
    </nav>
</div>
