<div
    data-schema="http://uischema.org/Dropdown"
>
    <input
        type="checkbox"
    >
    <label>
        {{ text }}
    </label>
    <ul>
        {% for option in options %}
            <li>
                {% if option.@type == 'Link' %}
                    {% include Link.liquid with option %}
                {% elsif option.@type == 'Option' %}
                    {% include Option.liquid with option %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
