<div
    data-schema="uischema.org/Dropdown"
>
    <input
        type="checkbox"
    >
    <label>
        {{ text }}
    </label>
    <ul>
        {% for option in options %}
            <li>
                {% if option.@type == 'Link' %}
                    {% include 'Link' with option %}
                {% elsif option.@type == 'Option' %}
                    {% include 'Option' with option %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
