<div
    data-schema="uischema.org/Dropdown"
    class="ui-dropdown"
>
    <input
        type="checkbox"
        class="ui-dropdown-trigger"
    >
    <label class="ui-dropdown-text">
        {{ text }}
    </label>
    <ul class="ui-dropdown-options">
        {{ #canSearch }}
            <input type="search" class="ui-dropdown-search">
        {{ /canSearch }}
        {{ #options }}
            <li class="ui-dropdown-option">
                {{> Link }}
            </li>
        {{ /options }}
    </ul>
</div>
