<div data-schema="uischema.org/Dropdown" class="ui-dropdown">
    <label class="ui-dropdown-text">{{ text }}</label>
    <input type="checkbox" class="ui-dropdown-trigger">
    <div class="ui-dropdown-menu">
        {{ #canSearch }}
            <input type="search" class="ui-dropdown-search">
        {{ /canSearch }}
        <datalist class="ui-dropdown-options">
            {{ #options }}
                <option class="ui-dropdown-option" value="{{ value }}">
                    {{ name }}
                </option>
            {{ /options }}
        </datalist>
    </div>
</div>
