<div data-ui-schema="uischema.org/Feature" class="ui-feature" data-ui-id="{{ @id }}">
    <div class="ui-feature-image">
        {{# image }}
            {{> Image }}
        {{/ image }}
    </div>

    <div class="ui-feature-details">
        {{# heading }}
            <h2 class="ui-feature-heading">{{ . }}</h2>
        {{/ heading }}
        
        {{# subheading }}
            <h3 class="ui-feature-subheading">{{ . }}</h3>
        {{/ subheading }}
        
        {{# body }}
            <div class="ui-feature-body">{{{ . }}}</div>
        {{/ body }}

        {{# link }}
            {{> Link }}
        {{/ link }}
    </div>
</div>
