<section data-ui-schema="uischema.org/Gallery" class="ui-gallery{{# options }}{{# useCoverLinks }} use-cover-links{{/ useCoverLinks }}{{# useSquares }} use-squares{{/ useSquares }}{{/ options }}">
    <div class="ui-container">
        {{# heading }}
            <h2 class="ui-gallery-heading">{{ . }}</h2>
        {{/ heading }}
        
        {{# subheading }}
            <h3 class="ui-gallery-subheading">{{ . }}</h3>
        {{/ subheading }}
        
        {{# body }}
            <div class="ui-gallery-body">{{{ . }}}</div>
        {{/ body }}
    </div>

    <div class="ui-gallery-items">
        {{# items }}
            <div class="ui-gallery-item">{{> Feature }}</div>
        {{/ items }}
    </div>
</section>
