<section data-ui-schema="uischema.org/Highlight" class="ui-highlight">
    <div class="ui-container ui-highlight-container">
        <div class="ui-highlight-details">
            {{# heading }}
                <h2 class="ui-highlight-heading">{{ . }}</h2>
            {{/ heading }}
            
            {{# subheading }}
                <h3 class="ui-highlight-subheading">{{ . }}</h3>
            {{/ subheading }}

            {{# body }}
                <div class="ui-highlight-body">{{{ . }}}</div>
            {{/ body }}

            {{# link }}
                <div class="ui-highlight-link">{{> Link }}</div>
            {{/ link }}
        </div>
    
        {{# image }}
            <div class="ui-highlight-image">{{> Image }}</div>
        {{/ image }}
    </div>
</section>
